@import '../styles/breakpoints.css';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

@media (--max-mobile) {
  .main {
    align-items: center;
  }
}
