@import '../../styles/breakpoints.css';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

@media (--tablet) {
  .text {
    font-size: 36px;
  }
  .overlay {
    flex-direction: column;
  }
}

@media (--mobile) {
  .text {
    font-size: 24px;
  }
}
